@model IEnumerable<InventoryModel.Inventory.Item>

<table class="table table-striped table-bordered">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityOnHand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RetailPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StandardCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
            
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(item.ImageLocation))
                {
                    <img id="item_image" 
                         style="height:100px; width:90px; border:solid"
                         src=@Href(item.ImageLocation) />
                         
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityOnHand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetailPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StandardCost)
            </td>
            <td>
                @*Html.DisplayFor(modelItem => item.Category.Name)*@
                @Html.ActionLink(item.Category.Name, "Details", "Categories", new { area = "Inventory", id=item.CategoryId}, null)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ItemId }, new { @class = "badge badge-success" })
                @Html.ActionLink("Details", "Details", new { id = item.ItemId }, new { @class = "badge badge-warning" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ItemId }, new { @class = "badge badge-danger" })
            </td>
        </tr>
    }

</table>