@model IEnumerable<InventoryModel.Inventory.Item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Inventory.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h3>Items</h3>
            @Html.ActionLink(HttpUtility.HtmlDecode("&laquo; Items &raquo;"),
         "Index", "Items", null,
         new { area = "Inventory", @class = "btn btn-primary" })
            @Html.ActionLink(HttpUtility.HtmlDecode("&laquo; Categories &raquo;"),
         "Index", "Categories", null,
         new { area = "Inventory", @class = "btn btn-primary" })
            @Html.ActionLink(HttpUtility.HtmlDecode("&laquo; Spoilage &raquo;"),
         "Index", "Spoilages", null,
         new { area = "Inventory", @class = "btn btn-primary" })
        </div>
    </div>
</div>


<p>
    @Html.ActionLink("Add New Student", "Create")

    &nbsp;&nbsp;&nbsp;
    <label class="filter">Filter by: </label>
    &nbsp;&nbsp;&nbsp;
    <label class="filter">Category</label>
    &nbsp;&nbsp;
    @Html.DropDownList("CategoryId", null,
         htmlAttributes: new { @class = "filter", @onchange = "FilterByTag" })
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.TextArea("Search", null, htmlAttributes: new { @class="filter", @onchange="FilterByName()", @rows="1"})

</p>



<div id="itemContainer">
    @Html.Partial("_Index", Model)
</div>

@section scripts {
    <script type="text/javascript">
        function FilterByTag() {
            var categoryId = $('#CategoryId').val();
            var container = $('#itemContainer');
            container.load('@Url.Action("_IndexByTag")?id=' + categoryId);
        }

        function FilterByName() {
            var search = $('#Search').val();
            var container = $('#itemContainer');
            container.load('@Url.Action("_IndexByName")?parm=' + search);
        }

    </script>
}